ul {
    margin: 5px auto;
    display: ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style-type: none;
    flex-wrap: wrap;
}

.product-card {
    text-align: center;
    border: solid 3px black;
    border-radius: 0.6em;
    background-color: white;
    /* overflow: hidden; */
    box-shadow: 5px 5px;
    width: 250px;
    transition: transform 400ms;
}

.product-card:hover {
    transform: translateY(-5px);
}
.product-image {
    width: 200px;
    height: 150px;
}

@media screen (min-width: 500px) {
    ul {
        grid-template-columns: (1, 1fr);
    }
}
