@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    font-family:Pathway Extreme;
    font-weight: 600;
}

a {
    text-decoration: none;
    /* transition: transform 0.5s ; */

}
main{
    display: flex;
    justify-content: center;
}
h1,
h2,
b {
    align-self: center;
    font-size:200%;
}

body {
    font-size: 100%;
    background-color: #FBF4E6;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

header nav a {
    padding: 0.8em;
    margin: 0em 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 0.5s all;
    font-size: 130%;
}

header nav a.active {
    /* background-color: pink; */
}

header nav a:hover {
    text-decoration:underline;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: black 3px solid;
    box-shadow: 5px 5px ;
}



.product,
.start,
.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow-x:hidden ;
}

form {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    height: auto;
    border-radius: 0.2em;
    padding: 1em;
    margin: 10px auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    width: 50%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 125px;
    margin-top: 10px;
}

aside {
    display: flex;
    padding: 0;
    margin: 0;
    
}

.cart-image {
    width: 27px;
}
.cart-image:hover {
    transform: translateY(-3px);
}

.login-form {
    display: flex;
}
button {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #FBF4E6;
    font-size: 120%;
    border-radius: 5px;
}

.product-image{
    width: 200px;
    height: 150px;
}

.product-wrapper{
}

ul{
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 25px;
    list-style-type: none;
    flex-wrap: wrap;
}
li{
    text-align: center;
    border: solid 3px black;
    border-radius: 0.6em;
    background-color: white;
    overflow: hidden;
    box-shadow: 5px 5px; 
    transition: transform 400ms;
}
li:hover{
    transform: translateY(-10px);
}

input{
    font-size: 150%;
    border: black 3px solid;
    border-radius: 5px;
    margin-bottom: 25px;
}